:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color-footer-hero: #2f303a;
  --white-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --background-color-team: #f5f4fa;
  --black-color: #000000;
}
.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.logo,
.link,
.hat-link,
.contact-cellar,
.map,
.list-icon {
  text-decoration: none;
}
/* вторичный цвет текста черный #212121 */
/* основной цвет текста серый #757575 */
/* цвет выделений синий #2196F3 */
/*  цвет контактов в футере прозрачно белый rgba(255, 255, 255, 0.6) */
/* цвет слогана герой белый #FFFFFF */
/* фон в футере и герое серый background: #2F303A; */
/* Raleway – 700 Roboto – 400, 500, 700 и 900 */

/* logo */
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--black-color);
}
.studio-footer {
  color: var(--white-color);
}
/* header nav */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.link.current {
  color: var(--accent-color);
}
.link {
  color: var(--title-text-color);
}
.hat {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.link :hover,
.link :focus {
  color: var(--accent-color);
}
/* header contacts */
.hat-link {
  color: var(--primary-text-color);
}
.hat-link :hover,
.hat-link :focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background: var(--background-color-footer-hero);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
.button.primary {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  cursor: pointer;
}
.hero-title {
  color: var(--white-color);
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* section text */
.text-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text-slogan {
  font-size: 14px;
  line-height: 1.71;
}
/* section image */
.items-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* section team */
.items-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
/* footer */
.basement {
  background: var(--background-color-footer-hero);
}
.map {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
}
.contact-cellar {
  color: var(--footer-contact-color);
  font-size: 14px;
  line-height: 1.71;
}
.contact-cellar :hover,
.contact-cellar :focus {
  color: var(--accent-color);
}
/* main container */
.icon-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.list-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* hero-button */
.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
}
.button.primary :hover,
.button.primary :focus {
  color: var(--accent-color);
}
/* btn */
.button {
  color: var(--title-text-color);
  background-color: var(--background-color-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: inherit;
}

.button :hover,
.button :focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.list {
  list-style: none;
  font-style: normal;
}
